@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");

body {
  font-family: "Monoton", sans-serif;
  font-weight: 200;
  font-style: normal;
  word-spacing: 5px;
}

.gameContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.gameBoard {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 5px;
  background-color: black;
  width: 310px;
}

.gameBoard div {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  
}

.gameBoard div:hover {
  cursor: pointer;
}

.winningCell {
  background-color: green !important;
}

.restart {
  margin-top: 30px;
}
